h1{
    background-color: rgb(0, 166, 255);
    border-radius: 10px;
    border: 3px;
    border-color: red;
    text-align: center;
}
em{
    color: red;
}
h2{
    background-color: yellow;
    color: green;
    text-align: center;
}
div{
    text-align: center;
}
h3{
    color: green;
}
textarea{
width: 2500px;
height: 50px;
}
button{
    background-color: rgb(73, 131, 255);
    color: white;
    font-size: 20px;
    border: none;
}
.c{
    color: white;
    background-color: green;
}
.d{
    color: white;
    background-color: blue;
}
.a{
    color: white;
    background-color: red;
}
table,tr,th,td{ 
    border:2px solid rgb(0, 0, 0);
    text-align: center;
    border-collapse:collapse;
    font-size: 25px;
}
.b{
    color: white;
    background-color: black;
}
.iframe{
    text-align: center;
}